<h1>Log In</h1>
<form class="form-horizontal">
	<div class="form-group">
		<label for="email" class="col-lg-2 control-label">Email</label>
		<div class="col-lg-5">
			<input type="text" class="form-control" id="email" data-ng-model="vm.email"/>
		</div>
	</div>
	<div class="form-group">
		<label for="password" class="col-lg-2 control-label">Password</label>
		<div class="col-lg-5">
			<input type="password" class="form-control" id="password" data-ng-model="vm.password"/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-7">
			<button type="button" class="btn btn-primary pull-right" data-ng-click="vm.authenticate()">Submit</button>
		</div>
		{{vm.message}}
	</div>
</form>
