<h1>Tasks</h1>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="input-group input-group-lg" data-ng-repeat="task in vm.tasks">
				<span class="input-group-addon">
					<input type="checkbox" data-ng-model="task.isComplete"/>
				</span>
				<label class="form-control">{{task.description}}</label>
			</div>
		</div>
		<div class="col-md-6">
			<form class="form-horizontal">
				<fieldset>
					<legend>New Task</legend>
					<div class="form-group">
						<label for="txtTask" class="col-lg-2 control-label">Task</label>
						<div class="col-lg-9">
							<input id="txtTask" type="text" class="form-control" data-ng-model="vm.newTask" />
						</div>
					</div>
					<div class="form-group">
						<label for="dueOn" class="col-lg-2 control-label">Due Date</label>
						<div class="col-lg-9">
							<input id="dueOn" type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="vm.dueOn" is-open="vm.datepicker.isOpen" close-text="Close" />
						</div>
						<span class="input-group-btn">
			            	<button type="button" class="btn btn-default" data-ng-click="vm.datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		              	</span>
					</div>
					<div class="form-group">
					  <div class="col-lg-10 ">
						<button type="button" class="btn btn-primary" data-ng-click="vm.createTask()">Create</button>
					  </div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

	

